@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    src:
      url("/assets/fonts/ProximaNova-Medium_2770618388[2258].otf") format("opentype")
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Proxima Nova' , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    
}


img{
    max-width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 7vh;
    background-color: #F7A100;
}

nav{
    display: flex;

}

.hoofdmenu{
    position: fixed;
    background-color: #F7A100;
    top: 0;
    bottom: 0;
    left:0;
    translate: -100% 0%;
    transition: .5s;
    padding: 5em 1em 1em;

}
.hoofdmenu.open{
    translate:0% 0;
}

.hoofdmenu a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    padding:0 1em;
}

.rechtermenu{
    margin-left: auto;
}

.rechtermenu ul{
    display: flex;
    gap: 5em;
    margin-right: 5em;


}

.rechtermenu a{
    color: white;
    text-decoration: none;

    
}

.rechtermenu li:hover   {
    background-color: #F7A100

}


header button{

    order: -1;
    z-index: 1;


    

}

button .menu{
    background-color: transparent;


}

.avatars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;    
   
}

/* alle images inclusief plus button  */
.avatars img{
    border-radius: solid 5px;
}

.avatars ul {
    display:flex;
    gap:1em;
    overflow-x: auto;
    padding:.75em;
}

.avatars .memberavatars {
    transition: .3s;
    flex-shrink: 0;
}

.avatars .memberavatars:hover{
    transform: scale(1.1);
    z-index: inherit;
}

.avatars .memberavatars:active{    
    background-color: #F7A100;
    border: solid 3px #F7A100;
    border-radius: 50%;

}


.add-button{
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}

.add-button:active{    
    background-color: #F7A100;
    border-radius: 50%;
}

.logo{
    display: flex;
    max-width: 120px;
    height: auto;

}


dialog {
    height: 600px;
    width: 1000px;
    left:50%;
    top:50%;
    translate:-50% -50%;
}

dialog h2{
    text-align: center;

}

dialog p{
    text-align: center;
}

dialog::backdrop {
    background-color: #fff (255 0 0 / .7);
    backdrop-filter: blur(.1em);

}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    margin-bottom: 1em; /* Add spacing between each star rating section */
  }
  
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  
  .rating > span:before {
    content: "\2605"; /* Unicode character for a solid star */
    position: absolute;
    color: orange; /* Color of the filled star */
  }
  
  .rating > span:hover:before {
    content: "\2605";
    position: absolute;
    color: orange;
  }
  
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gray; /* Color of the empty star on hover */
  }

a:hover article{
    background-color: aliceblue;
}

.houses{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7em;
    margin-left: 15em;



    /* overflow:scroll;*/

}


.houses li{
    color: black;
    text-decoration: none;

}   

.houses a{
    color: black;
    text-decoration: none;
} 

.amsterdamseweg img{
    height: 40vh;
    width: 40vw;
    margin-left: -10em;
    border: solid 3px #F7A100;

}

.raadhuisstraat img{
    height: 40vh;
    width: 40vw;
    margin-left: -10em;
    border: solid 3px #F7A100;

}

.houses h2{
    margin-left: -1.5em;
}



.amsterdamseweg, .raadhuisstraat, img:hover{
    transform: scale(1.02);
    transition: .3s;
    z-index: inherit;
}

.filter {
    padding: 10px;
  }


  .miniavatar1 img{
    position: absolute;
    margin-left: -12em;
    margin-top: 3em;
  }
  

  .miniavatar2 img{
    position: absolute;
    margin-left: 25em;
    margin-top: 3em;
  }
  
.rating1{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    margin-left: 22em;
    margin-top: 4em;
}

.rating2{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    margin-left : 60em;
    margin-top: 4em;
}
  .rating1 input, .rating2 input {
    display: none;
  }
  
  .rating1 label, .rating2 label {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
    margin: 0 5px;
  }
  
  .rating1 label:before, .rating2 label:before {
    content: '\2606'; 
  }
  
  .rating1 input:checked ~ label, .rating2 input:checked ~ label {
    color: #f39c12; 
  }
  
  .rating1 input:checked ~ label:before, .rating2 input:checked ~ label:before {
    content: '\2605'; 
  }
  
  

  .boven-footer{
    margin-top: 10em;
    background-color: #CCCCCC; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 70px;
    text-decoration: none;
  }

  .boven-footer a{
    text-decoration: none;
    color: #006199;
  }
  
  .socials{
    display: flex;
  }

  .beneden-footer{
    display: flex;
    justify-content: space-around;

  }
  .taalwissel{
    display: flex;
  }

  .socials svg{

    height: 50px;
    padding-left: 20px;
    width: 100%;

  }
  
  footer{
    background-color: #CCCCCC;
  }